* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body {
 background-image: url(../img/fon22.jfif);
}



.img-box {
	column-count: 4;
	column-gap: 5px;
}


.img-style {
	display: block;
}



.img-style:hover {
		/*filter: sepia(1.5);*/
		/*filter: grayscale(10);*/
		/*filter: hue-rotate(14deg);*/
		filter: brightness(1.3);


}




.img-style + .img-style {
	margin: 5px 0;
}

.image {
	max-width: 100%;
	display: block;

}


.h1 {
	width: 100%;
	text-align: center;
	font-size: 80px;
	color: #5b045d;
	margin: 25px 0;
}


.main {
	width: 95%;
	max-width: 1400px;

	margin: auto;

	/*background-image: url(../img/fon22.jfif);*/

	/*-webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); */
/*box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);*/
}


.a1 {
	font-size: 40px;
	color: #46050e;
	text-decoration: none;
	transition: 0.3s ease-in;
	margin: 0 0 30px 30px;
	display: inline-block;

}

.a1:hover {
	color: #d8e5e8;
	border-bottom: 2px solid #d8e5e8;
}